<!DOCTYPE html>
<html>
<head>
  <title>{{page.title}}</title>
  <link rel="stylesheet" type"text/css" href="{{site.baseurl}}/css/stylesheet.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=0.6, maximum-scale=1.0" />
</head>
<body>
  <header>
    <a id="title_link" href="{{site.baseurl}}/"><h1>The Hacker Setup</h1></a>
    <p id="tagline">What do hackers use to get stuff done?</p> 
  </header>

  <nav>
    <ul>
      <a href="{{site.baseurl}}/interviews/index.html"><li>Interviews</li></a> /
      <a href="{{site.baseurl}}/about/index.html"><li>About</li></a>
    </ul>
  </nav>

  <section id="contents">
    {{content}}
  </section>
  
  <footer>
    <p>Made with  <i class="fa fa-heart" style="color: #ff0000;"></i>!</p>
  </footer>
</body>
</html>