<!DOCTYPE html>
<html>
<head>
  <title>{{page.title}}</title>
  <link rel="stylesheet" type"text/css" href="./css/stylesheet.css">
  <link rel="stylesheet" type"text/css" href="../css/stylesheet.css">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=0.6, maximum-scale=1.0" />
</head>
<body>
  <header>
    <h1>The Hacker Setup</h1>
    <p id="tagline">What do hackers use to get stuff done?</p> 
  </header>

  <nav>
    <ul>
      <a href="/site.baseurl/interviews/index.html"><li>Interviews</li></a> /
      <a href="/site.baseurl/about/index.html"><li>About</li></a>
    </ul>
  </nav>

  <section id="contents">
    {{content}}
  </section>
  
  <footer>
    <p>Follow me on <a href="http://twitter.com/virjog">Twitter</a>.</p>
  </footer>
</body>
</html>